**/Makefile
**/Makefile.in
**/.libs
**/.deps
**/*.o
**/*.lo
**/*.la
**/m4
**/autom4te.cache
**/config.guess
**/config.log
**/config.status
**/config.sub
**/configure
**/.settings
**/.dirstamp
**/aclocal.m4
**/libtool
**/install-sh
**/ltmain.sh
**/depcomp
**/exampleProgram
**/rehearsalTest